<section class="section education-section">
  <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
  
  <div class="item">
    <div class="meta">
      <h3 class="degree">BS in Computer Science and Information Security</h3>
      <div class="upper-row">
        <!-- <div class="company">Startup Hubs, San Francisco</div> -->
        <div class="school">CUNY John Jay College of Criminal Justice &mdash; New York, NY</div>
        <div class="time"><i class="fa fa-calendar"></i>Jan 2016 &ndash; May 2018</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    
    <p><em>Overall GPA: 4.0 / 4.0</em><br></p>
    <p><em>Awarded the Women in Technology and Entrepreneurship in New York (WiTNY) Scholarship 2017&ndash;2018</em></p>
    
    <p><h3 class="subtitle">Coursework</h3></p>
  
     <p>
       <i>Security-related courses:</i><br>
    <ul>
      <li>Cryptography and Cryptanalysis (CSCI 360)</li>
      <li>Capstone Experience in Digital Forensics/Cybersecurity I (CSCI 400)</li>
      <li>Computer Security &amp; Forensics (CSCI 411)</li>
      <li>Network Security &amp; Forensics (CSCI 412) <b><i>in progress</b></i></li>
      <li>Faculty Mentored Research Experience, Topic: Blockchains (CSCI 385) <b><i>in progress</b></i></li>
      <li>Capstone Experience in Digital Forensics/Cybersecurity II (CSCI 401) <b><i>in progress</b></i></li>
    </ul>
</p>
  
  <p>
    <i>Foundation courses:</i><br>
    <ul>
      <li>Object-Oriented Computing (CSCI 272)</li>
      <li>Computer Architecture (CSCI 274)</li>
      <li>Advanced Data Structures (CSCI 373)</li> 
      <li>Programming Languages (CSCI 374)</li>
      <li>Operating Systems (CSCI 375)</li>
      <li>Computer Algorithms (CSCI 377)</li>
      <li>Computer Networking (CSCI 379)</li>
  </ul>
  </p>

    <div class="details">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    </div><!--//details-->
                 
</div><!--//item-->

  <div class="item">
    <div class="meta">
      <h3 class="degree">BS in Fashion Merchandising Management</h3>
      <div class="upper-row">
        <!-- <div class="company">Startup Hubs, San Francisco</div> -->
        <div class="school">SUNY Fashion Institute of Technology &mdash; New York, NY</div>
        <div class="time"><i class="fa fa-calendar"></i>Aug 2013 &ndash; May 2016</div>
      </div><!--//upper-row-->
    </div><!--//meta-->
    
    <p>
      <em> Overall GPA: 3.48 / 4.0</em><br>
    </p> 
</div><!--//item-->

</section> <!-- //education-container-->
 
<!-- 
<div class="item">
 <div class="meta">
   <div class="upper-row">
       <h3 class="job-title">Lead Developer</h3>
       <div class="time">2015 - Present</div>
   </div>
       <div class="company">Startup Hubs, San Francisco</div>
</div>

<div class="item">
    <h4 class="degree">BSc in Applied Mathematics</h4>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2007 - 2011</div>
</div>//item -->
