<section class="section education-section">
                <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
                
                <div class="item">
                 
                    <div class="meta">
                     
                        <div class="upper-row">
                            <div class="degree">MSc in Computer Science</div>
                            <div class="time"><i class="fa fa-calendar" style="margin-right:5px;"></i> 2015 - Present</div>
                        </div><!--//upper-row-->
                     
                        <!-- <div class="company">Startup Hubs, San Francisco</div> --> 
                        <div class="school">University of London</div>
                     
                    </div><!--//meta-->
                  
            <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
            <br>
            <em>Overall GPA: 4.0 / 4.0</em>
            </p>
                 
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>  
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div><!--//details-->
                 
</div><!--//item-->
 
</section> <!-- //education-container-->
 
<!-- <div class="item">
    <h4 class="degree">BSc in Applied Mathematics</h4>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2007 - 2011</div>
</div>//item -->
 

