<section class="skills-section section">
	<h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
	
	<div class="skillset">
		
		<div class="item">
			<h3 class="level-title">Python &amp; Django</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Javascript &amp; jQuery</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Angular</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">HTML5 &amp; CSS</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="95%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Ruby on Rails</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="85%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Sketch &amp; Photoshop</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="60%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
                    
	
	
	<p><h3 class="level-title">Programming</h3></p><br>
		
	<div class="item">
		<div class="title">
			<i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-o checked"></i>
			&emsp;Python
		</div>
	</div>
		
	<div class="item">
		<div class="title">
			<i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-half-o checked"></i><i class="fa fa-star-o checked"></i>
			&emsp;C/C++
		</div>
	</div>

	<h3 class="subtitle">Debugging</h3><br>
	<ul>
		<li>gdb</li>
		<li>Immunity Debugger</li>
		<li>OllyDbg</li>
		<li>IDA Pro Freeware</li>
	</ul>

<h3 class="level-title">Programming</h3>		
<div class="item" style="overflow-x:auto;">		
<table>
  <tr>
    <td class="padding"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-o checked"></i></td>
    <td><h3 class="title">&emsp;Python</h3></td>
  </tr>
  <tr>
    <td class="padding"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-half-o checked"></i><i class="fa fa-star-o checked"></i></td>
    <td><h3 class="title">&emsp;C/C++</h3></td>
  </tr>
  <tr>
    <td>Joe</td>
    <td>Swanson</td>
  </tr>
  <tr>
    <td>Cleveland</td>
    <td>Brown</td>
  </tr>
</table>
</div>

		
</div> <!-- skillset -->
</section><!--//skills-section-->
