<section class="section">
	<h2 class="section-title"><i class="fa fa-code" style="font-size:20px;font-weight:700;vertical-align:middle;"></i>Skills &amp; Proficiency</h2><!-- rocket-->
			
<!--	<div class="item">
		<div class="title">
			<i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-o checked"></i>
			&emsp;Python
		</div>
	</div>
		
	<div class="item">
		<div class="title">
			<i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-half-o checked"></i><i class="fa fa-star-o checked"></i>
			&emsp;C/C++
		</div>
	</div>

	<p>
	<h3 class="subtitle">Debugging</h3><br>
	<ul>
		<li>gdb</li>
		<li>Immunity Debugger</li>
		<li>OllyDbg</li>
		<li>IDA Pro Freeware</li>
	</ul>
	</p>
-->
	
<h3 class="level-title">Programming</h3>		
<table style="width:100%">
<!--  <tr>
    <td class="padding"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-o checked"></i></td>
    <td><h3 class="title">&emsp;Python</h3></td>
  </tr>
  <tr>
    <td class="padding"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-half-o checked"></i><i class="fa fa-star-o checked"></i></td>
    <td><h3 class="title">&emsp;C/C++</h3></td>
  </tr> -->
  <tr>
    <td class="left">Languages</td>
    <td class="right">C/C++, Python, Perl, ML, Bash</td>
  </tr>
  <tr>
    <td class="left">Compiler</td>
    <td class="right">Visual Studio, gcc</td>
  </tr>
   <tr>
    <td class="left">Tools</td>
    <td class="right">Vim, VirtualBox</td>
  </tr>
</table>

		
</section><!--//skills-section-->
