<section class="skills-section section">
	<h2 class="section-title"><i class="fa fa-code" style="font-size:20px;font-weight:700;vertical-align:middle;"></i>Skills &amp; Proficiency</h2><!-- rocket-->
	
	<div class="skillset">
		
		<div class="item">
			<h3 class="level-title">Python &amp; Django</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Javascript &amp; jQuery</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Angular</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">HTML5 &amp; CSS</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="95%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Ruby on Rails</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="85%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Sketch &amp; Photoshop</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="60%"></div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
                    
<style>
.float-left {
	float: left;
}
.float-right {
	float: right;
}
</style>
		
		<p><h3 class="level-title">Programming</h3></p><br>
		
		<h4 class="float-left"><b>Languages</b></h4>
		<h4 class="float-right">C/C++, Python, Perl, ML, Bash, Asm</h4>
	
		<h4 class="float-left"><b>Tools</b></h4>
		<h4 class="float-right">Vim, Visual Studio</h4>
		
		
	
	
		
<!--	<div class="item">
		<div class="title">
			<i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-o checked"></i>
			&emsp;Python
		</div>
	</div>
		
	<div class="item">
		<div class="title">
			<i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-half-o checked"></i><i class="fa fa-star-o checked"></i>
			&emsp;C/C++
		</div>
	</div>

	<p>
	<h3 class="subtitle">Debugging</h3><br>
	<ul>
		<li>gdb</li>
		<li>Immunity Debugger</li>
		<li>OllyDbg</li>
		<li>IDA Pro Freeware</li>
	</ul>
	</p>
-->
	
<h3 class="level-title">Programming</h3>		
<table>
  <tr>
    <td class="padding"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-o checked"></i></td>
    <td><h3 class="title">&emsp;Python</h3></td>
  </tr>
  <tr>
    <td class="padding"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star-half-o checked"></i><i class="fa fa-star-o checked"></i></td>
    <td><h3 class="title">&emsp;C/C++</h3></td>
  </tr>
  <tr>
    <td class="left">Languages</td>
    <td class="right">C/C++, Python, Perl, ML, Bash</td>
  </tr>
  <tr>
    <td class="left">Compiler</td>
    <td class="right">Visual Studio, gcc</td>
  </tr>
</table>

		
</div> <!-- skillset -->
</section><!--//skills-section-->
